<!DOCTYPE html>
<html lang="en" ng-app="cubeSummationApp">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="../app/styles/main.css">

    <link rel="icon" type="image/jpg" href="../images/ubidots-icon-title.png">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src ="../app/scripts/app.js"></script>
    <script src ="../app/scripts/controllers/cube.client.controller.js"></script>
    <script src ="../app/scripts/services/utility.client.service.js"></script>

    <meta charset="UTF-8">
    <title>Ubidots Test</title>
</head>
<body ng-controller = "cubeCtrl">
    <br>
    <br>
    <h1 class="header-margin-left"><img src="../images/ubidots-icon.png" alt="Ubidots"> <small>Cube Summation</small></h1>
    <br>
    <div class="container jumbotron">
        <br>
        <br>
        <div class="jumbotron white-box-container">
            <div class="container">
                <div>
                    <h2>Build your 3D Matrix</h2>
                    <br>
                    <div>
                        <label>Dimensiones: </label>
                        <input type="number" ng-model="length"  min="2" max="100">
                    </div>
                    <br>
                    X: <input type="number" ng-model="axis_x" placeholder="X" min="0" max={{length-1}}>
                    Y: <input type="number" ng-model="axis_y" placeholder="Y" min="0" max={{length-1}}>
                    Z: <input type="number" ng-model="axis_z" placeholder="Z" min="0" max={{length-1}}>
                    Value: <input type="number" ng-model="value" placeholder="Value" min="0">
                    <input type="button" class="btn btn-primary" ng-click="updateValue()" value="Update Value">
                    <br>
                    <br>
                    <label>Select the depth level</label>
                    <select ng-model="level"
                            ng-options="level as level.value for level in level_list">
                    </select>
                </div>
                <br>
                <div class="inner">
                    <div data-ng-repeat="row in matrix">
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-default" data-ng-repeat="column in row"><span>{{column[level.value]}}</span></button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="container white-box-container jumbotron ">
            <h2>Calculate Summation</h2>
            From:
            <div>
                X: <input type="number" ng-model="axis_x_start" placeholder="X" min="0" max={{length-1}}>
                Y: <input type="number" ng-model="axis_y_start" placeholder="Y" min="0" max={{length-1}}>
                Z: <input type="number" ng-model="axis_z_start" placeholder="Z" min="0" max={{length-1}}>
            </div>
            To:
            <div>
                X: <input type="number" ng-model="axis_x_end" placeholder="X" min="0" max={{length-1}}>
                Y: <input type="number" ng-model="axis_y_end" placeholder="Y" min="0" max={{length-1}}>
                Z: <input type="number" ng-model="axis_z_end" placeholder="Z" min="0" max={{length-1}}>
            </div>
            <br>
            <div>
                <input type="button" class="btn btn-primary" ng-click="calculateSumButton()" value="Calculate sum">
            </div>
            <br>
            <div class="alert alert-info" role="alert"  ng-show="display_result">Sum result: {{sum_result}}</div>
        </div>
    </div>
</body>
</html>
